@charset "utf-8";

#hedr {
    margin: 0px auto;
    margin-top: 23px;
    margin-left: 10px;
}

#select_type_per {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: max(90%, 70%);
    margin: 20px auto;
    padding: 5px 2vw;

    font-size: larger;
    font-weight: bold;
    background-color: #313131;

    border: #313131 4px solid;
    box-shadow: 0px 10px 10px 0px #777777;
    border-radius: 30px;
}


.check_searchBox {
    display: flex;
    width: 50%;
    margin: 0px auto;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
}

/* 検索ボックス */
#searchBox {
    width: 90%;
    height: 40px;
    margin: 0px auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: 2px #ccc solid;
    border-radius: 10px;
}

#check_searchBox_under {
    margin-left: 30px;
}

/* チェックボックス */
.check_searchBox input {
    margin-left: 20px;
}

@media screen and (max-width: 875px) {

    .check_searchBox {
        width: 90%;
        white-space: normal;
    }

    #check_searchBox_right {
        margin-top: 10px;
    }

    .check_searchBox_under_body input {
        margin: 0px auto;
    }
}


#select_type_per label {
    display: flex;
    align-items: center;
}